$auroral-primary: (
  50: #e2e7e8,
  100: #b7c3c5,
  200: #879c9e,
  300: #577477,
  400: #335659,
  500: #0f383c,
  600: #0d3236,
  700: #0b2b2e,
  800: #082427,
  900: #04171a,
  A100: #0effaa,
  A200: #00d086,
  A400: #00b676,
  A700: #00a76c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$auroral-accent: (
  50: #e0f9fa,
  100: #b3eff3,
  200: #80e5eb,
  300: #4ddae3,
  400: #26d2dd,
  500: #00cad7,
  600: #00c5d3,
  700: #00bdcd,
  800: #00b7c7,
  900: #00abbe,
  A100: #acfff7,
  A200: #6ffff2,
  A400: #55ffef,
  A700: #46ffee,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
